main{
max-width:94%
}
h2{
font-size:1.2rem;
margin-bottom:1rem
}
b{
font-size:1.2rem
}
video{
margin-top:1.2rem
}
label{
display:block;
margin-bottom:1rem;
font-size:1.1rem;
font-weight:700
}
td{
height:1rem;
width:2rem;
border:0.1rem solid black
}
